@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url(./fonts/OpenSans.ttf), format('truetype');
}

body {
  font-family: OpenSans;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  max-height: calc(var(--app-height) - 50px) !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-content {
  margin: 1% 2.5%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.cv-image {
  height: calc((var(--app-height) - 50px) / 2) !important;
}

.timeline {
  padding: 2.5% 1%;
  align-items: flex-start;
  text-align: start;
}

.timeline-title-main {
  font-size: 20px;
  margin-bottom: 1px;
}

.timeline-title-sub {
  font-size: 18px;
  color: #3e3e3e;
  margin-bottom: 1px;
  margin-left: 10px;
}

.timeline-list {
  font-size: 16px;
  color: #3e3e3e;
}

/* ANTD overrides */
.ant-tabs {
  height: 50px !important;
}

.ant-tabs-tab {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ant-timeline-item-tail {
  border-color: #346889;
}

.ant-timeline-item-head {
  background-color: transparent;
}
